.section {
    border-top: 1px solid var(--fg-color);
    h1 {
        padding: 1rem 0;
        font-size: 1.8em;
        font-family: var(--poppins-font);
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: var(--bg-color);
        svg {
            transition: transform 0.3s ease-out;
        }
    }
    & > div {
        margin: 0 6.5rem;
        overflow: hidden;
        padding-bottom: 5em;
    }
    @media screen and (max-width: 768px) {
        & > div {
            margin: 0;
        }
    }
}